body{
  background-color: lightgrey; 
}

.yellow{
  background-color: yellow;
  opacity:0.5;
}
.rgba{
  background: rgba(106, 90, 205,0.5);
}

p.solid{
  border-style:solid;
}
p.groove{
  border-style:groove;
}
.backimage{
  background-image: url(images/千寻pic.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
}
