
.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}
.browser {
  background: white;
}

body {
  background-color: #FFE1AA;
  margin: 100px;
  color: #332E27;
}

.a:link {
  color: #582f2f;
}
.a:hover {
  color: #FDB833;
}
.a:visited {
  color: #920f0f;
}

.a:active {
  color: #fff4b4;
}




