
<html>
<head>
<style>
.all-browsers {
  margin:0;
  padding: 5px;
  background-color: lightgray;
}
.browser {
  background:white;
}

body {
  background-color: #FFD07B;
  margin:100px;
  color: #5E3D08;
}

a: link { 
  color: #fffb9d;
}
a: hover{
  color: #FDB833;
}
a: visited {
  color: #296EB4;
}

a: active{
  color: #1789FC;
}
</style>
</head>
