<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/cssStudy.css">
    <title>CSS STUDY</title>
  </head>
  <body>
    <div class="yellow">
      div css test
    </div>
    <p class="rgba">
      p rgba test
    </p>
    <div class="backimg">
      <p class="rgba">scroll</p>
      <p>scroll</p>
      <p>scroll</p>
      <p class="rgba">scroll</p>
      <p>scroll</p>
      <p>scroll</p>
      <p>scroll</p>
      <p>scroll</p>
      <p class="rgba">scroll</p>
      <p>scroll</p>
      <p>scroll</p>
    </div>
    <p class="solid">solid border</p>
    <p class="groove">groove border</p>
  </body>
</html>
