/* Universal Reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: #666;
  color: #FFEBD1; /* Adjusted for better readability against the background */
  overflow: hidden;
  font-size: 1rem; /* Default font size */
  line-height: 1.6; /* Adjusted line height for better readability */
  font-weight: 400; /* Regular font weight for normal text */
  letter-spacing: 0.5px; /* Slight letter spacing to improve legibility */
  word-spacing: 1px; /* Adjusted word spacing for better separation of words */
  text-rendering: optimizeLegibility; /* Helps with text rendering and legibility */
}

header, footer, .browser {
  padding: 20px;
}

header, footer {
  background-color: #2E2E2E;
  color: #FFEBD1;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #555; 
  box-shadow: 0 0 10px #0000001a;
}


h1 {
  font-variant: small-caps;
  font-size: 2.5em;
  color: #FFA477;
  padding-right: 20px;
  letter-spacing: 1px; 
  margin-bottom: 10px; 
  font-weight: bold; 

}

h2 {
  font-size: 2em; /* Slightly smaller than h1 but larger than regular text */
  color: #FFBBA6;  /* A toned-down shade of the primary color for differentiation */
  background-color: #333;  /* Keeping the background to make it distinct */
  display: inline-block;
  padding: 0 5px;
  margin: 10px 0; /* Creating some vertical space around */
  font-weight: semi-bold; /* Slightly less emphasis than h1 */
  border-bottom: 3px solid #FFA477; /* A subtle bottom border for visual interest */
}

h3 {
  font-size: 1.75em; /* Size to indicate its tertiary importance */
  color: #FFC5B0;  /* An even more toned-down shade of the primary color */
  margin: 10px 0; /* Some vertical spacing for separation */
  font-weight: medium; /* Regular weight as it's of lesser importance than h1 and h2 */
  text-transform: capitalize; /*Making the first letter of each word capital for visual interest */
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: #444;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}

nav ul {
  display: flex; /* Using flex here ensures list items line up in a row */
  flex-wrap: wrap; /* Allows list items to wrap */
  list-style-type: none;
  gap: 20px; /* Provides spacing between list items */
  width: 100%; /* Take the full width to prioritize wrapping the list items first */
}

nav ul li a, nav form input[type="submit"] {
  font-size: 1rem; /* Increase font size */
  background-color: #686868;
  color: #FF934F;
  text-decoration: none;
  padding: 6px 12px; /* Increase padding for a larger touch/click area */
  border-radius: 5px;
  text-transform: uppercase; /* Uppercase text */
  font-weight: bold; 
}

nav ul li a:hover, nav form input[type="submit"]:hover {
  z-index: 1;
  color:#fff;
  background-color: #666;
  text-transform: lowercase;
  font-family: "Lucida Console", "Courier New", monospace;
}

nav ul li a:visited {
  background-color: #444;
  color: #92ebfb;
  text-transform: lowercase;
}

nav form {
  display: flex;
  align-items: center;
}

form {
  display: flex;
  gap: 10px;
  background-color: #333;
  border-radius: 8px;
  padding: 10px;
}

input[type="search"] {
  flex-grow: 2;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #666;
  color: #fff;
  transition: 0.3s;
}

input[type="search"]:focus {
  border-color: #555;
  background-color: #444;
}

input[type="submit"] {
  padding: 10px 15px;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #444;
}

main {
  display: flex;
}

aside {
  flex: 0 0 15%;
  padding: 0 20px;  
  background-color: #9ee6e0cc;
}

footer {
  background-color: #333; /* Matching with header */
  color: #fff; /* Maintaining text color consistency */
  border-top: 1px solid #555; /* Introducing a separating line like the header */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* A shadow like the header but in the upward direction */
  position: relative; /* For any future use if you want to position child elements relative to footer */
}

footer p { /* Styling any paragraphs you may have in the footer */
  margin: 10px 0;
}
.border {
  border: medium solid #FF934F ;
  padding: 10px;
  border-radius: 8px;
  outline: medium dashed #92ebfb;
  outline-offset: 10px;
  max-width: 500px;
  margin: 10px 0;
}

.upper {
  text-transform: uppercase;
}

.browser{
  background-color: #5C727D;
  flex: 1;
}

