
.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}
.browser {
  background: white;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FFE1AA;
  color: #332E27;
  text-transformation: capitalize;
  font-family: "Times New Roman", Times, serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1{
  font-variant: small-caps;
}
nav {
  background-color: #666;
  color: #fff;
  padding: 10px;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  list-style-type: square;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
aside {
  background-color: rgba(46, 222, 207,0.8);
  padding: 10px;
  color: rgb(66, 71, 98);
}

/* unvisited link */
a:link {
  color: #e8abff;
  
  
}
/* when user mouses mover it */
a:hover {
  color: #ffffed;
  font-family:"Lucida Console", "Courier New", monospace;
  text-transform: uppercase;
}
a:visited {
  color: #92ebfb;
  background-color: lightorange;
}

/* when clicked */
a:active {
  color: #fff4b4;
}

.border{
  border-style:solid;
  boarder-width:medium;
  boarder-color: orange;
  padding: 10px;
  border-radius: 8px;
  margin:auto;
  outline-style: dashed;
  outline-color: #99ccff;
  outline-width: medium;
  outline-offset: 10px;
  max-width:500px;
}
.subpage{
  height:200px;
  width:85%;
  margin: 15px;
  text-align:center;
}

.upper{
  text-transform: uppercase;
}

.abutton{
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.side{
  flex:30%;
  background-color:#FFE1AA;
  opacity:0.9;
  padding:20px;
}