

body {
  background-color: #d9d7ff;
  margin:50px;
  color: #3e2b11;
}

h2{
  text-decoration-line:overline;
}
h2 p{
  color: red;
}
.a:link {
  color: light blue;
}
.a:hover {
  color: orange;
}
.a:active {
  color: white;
}


.section{
  margin:auto;
  background:lightgrey;
}
